/* 기본 스타일 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFF4F4;
    position: relative;
}

/* 할 일 목록 스타일 */
#todo-list {
    margin: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.todo-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.todo-item:last-child {
    border-bottom: none;
}

.todo-item input[type="checkbox"] {
    margin-right: 10px;
}

.todo-item button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #f44336;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.todo-item button:hover {
    background-color: #d32f2f;
}


.add-todo-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ff8bb3;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logout-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 8px 16px;
    background-color: rgba(255, 66, 89, 0.44);
    color: #fff;
    border: none;
    border-radius: 20px; /* 둥글둥글한 형태 */
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    transition: background-color 0.2s ease, transform 0.1s ease;
}
